  .first_responder_list {
    overflow-x: auto;
    width: auto;
    border: 1px solid black;
    padding: 10px;
    background-color: white;
}
.first_responders {

  .text_field {
    width: 300px;
  }

  .radio_button {
    float: left;
    margin-left: 20px;
    border: 1px solid black;
  }
}

.performance_report {
  table {
    max-width: 1000px;
    th, td {
      padding-right: 10px;
    }
    .description {
      width: 40%;
    }
  }
}
